Xsd2Code.TestUnit/xsd/dvd.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Designer Edition (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" id="Dvd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Actor.xsd" />
  <xs:element name="DvdCollection">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element name="Dvds" type="dvd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actors">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Actor" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="dvd">
    <xs:sequence>
      <xs:element name="Year" type="IntValue" nillable="true" />
      <xs:element name="Publish" type="xs:date" nillable="true" />
      <xs:element name="Title" type="xs:string" default="DefaultTitle" nillable="true">
        <xs:annotation>
          <xs:documentation>
              Gets or sets the title of dvd.
            </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Style" type="Styles" default="Action" />
      <xs:element ref="Actor" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
              Represent the actor list
              The list include Firstname and last name of the actor.
            </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PublishYear" type="xs:int" />
      <xs:element name="Cover">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="IntValue">
              <xs:attribute name="Systeme" form="unqualified">
                <xs:simpleType>
                  <xs:restriction base="xs:string" />
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Styles">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Action" />
      <xs:enumeration value="Fiction" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IntValue">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:complexType name="mycttype">
    <xs:simpleContent>
      <xs:extension base="xs:double" />
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>