Xsd2Code.TestUnit/xsd/hexBinary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="root" type="rootType"/>
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element ref="color" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="color" type="colorType" default="ffffffff"/>
  <xs:simpleType name="colorType">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:hexBinary">
      <xs:length value="4"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>