Xsd2Code.TestUnit/xsd/PropertyNameSpecified.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Designer Edition (http://www.liquid-technologies.com)-->
<xs:schema xmlns:mstns="http://tempuri.org/Gender.xsd" elementFormDefault="qualified" targetNamespace="http://tempuri.org/Gender.xsd" id="Gender" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Gender" type="mstns:ksgender" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>In: "male" or "female".</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="age" type="xs:int" nillable="true" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="ksgender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="male" />
      <xs:enumeration value="female" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>