Xsd2Code.TestUnit/xsd/TestAnnotations.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio (http://www.liquid-technologies.com)-->
<xs:schema xmlns="http://www.portalfiscal.inf.br/nfe" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StaffMember" type="TActor">
    <xs:annotation>
      <xs:documentation>A staff member</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TActor">
    <xs:annotation>
      <xs:documentation>Represents a TActor</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="firstname" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Gets or sets the firstname of the actor
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastname" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Gets or sets the lastname of the actor
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="age" type="age">
        <xs:annotation>
          <xs:documentation>
            Gets or sets the age of the actor
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Tdate">
    <xs:annotation>
      <xs:documentation>Represents a Tdate</xs:documentation>
    </xs:annotation>
   
      <xs:attribute name="year" type="xs:int" use="required">
        <xs:annotation>
          <xs:documentation>
            Gets or sets the year of the date
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    <xs:attribute name="month" type="xs:int" use="required">
        <xs:annotation>
          <xs:documentation>
            Gets or sets the month of the date
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    <xs:attribute name="day" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>
          Gets or sets the day of the date
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

    <xs:simpleType name="age">
      <xs:annotation>
        <xs:documentation>
          Represents an age
        </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:int">
        <xs:minInclusive value="0"/>
        <xs:maxInclusive value="100"/>
      </xs:restriction>
    </xs:simpleType>

</xs:schema>